<a href="https://colab.research.google.com/github/Xboster-eliel/funciones_utiles/blob/main/extraccion_de_archivos_xml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Montar Google Drive (necesario en Colab)
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import chardet

with open('/content/datos_extraidos.csv', 'rb') as f:
    result = chardet.detect(f.read(100000))  # Analiza los primeros 100 KB
    print(result)  # Muestra la codificación detectada

df = pd.read_csv('/content/datos_extraidos.csv', encoding='ISO-8859-1', delimiter=';')

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

<ipython-input-22-a6337facfde3>:7: DtypeWarning: Columns (4,5,6,10,11,13,14,17,18,20,21,24,25,28,29,44,45,46,47,56,60,61,62,63,64,74,75,78,79,96,97,99,118,119,122,127,129,130,146,147,148) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/datos_extraidos.csv', encoding='ISO-8859-1', delimiter=';')

In [ ]:
import pandas as pd
import chardet

# Detectar la codificación del archivo CSV
with open('/content/datos_extraidos.csv', 'rb') as f:
    result = chardet.detect(f.read(100000))  # Analiza los primeros 100 KB
    encoding_detected = result['encoding']
    print("Codificación detectada:", encoding_detected)

# Cargar el CSV con la codificación detectada
df = pd.read_csv('/content/datos_extraidos.csv', encoding=encoding_detected, delimiter=';')

Codificación detectada: ISO-8859-1

<ipython-input-24-aecfe6dbe0bd>:11: DtypeWarning: Columns (4,5,6,10,11,13,14,17,18,20,21,24,25,28,29,44,45,46,47,56,60,61,62,63,64,74,75,78,79,96,97,99,118,119,122,127,129,130,146,147,148) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/datos_extraidos.csv', encoding=encoding_detected, delimiter=';')

Archivo organizado guardado correctamente.

In [ ]:
# Seleccionar las columnas deseadas
df3 = df[['uu_id', 'longitude', 'latitude', 'fechano', 'fechafec', 'causa8', 'descausa','evento', 'name0', 'name1', 'lugar', 'name2','muertos', 'heridos', 'desaparece', 'afectados', 'di_comments', 'eef007', 'fuentes', 'di_comments']]

# Aplicar la limpieza a df2
df3_clean = df3.apply(lambda col: col.dropna().reset_index(drop=True))

# Guardar el archivo limpio
df3_clean.to_csv('/content/prueba2.csv', index=False, encoding=encoding_detected, sep=';')

# Mostrar las primeras filas del dataframe limpio
print(df3_clean.head())

                                  uu_id  longitude  latitude  fechano  \
0  a111d356-ae98-40cb-92e3-f2e6e8e732ea        0.0       0.0   1997.0
1  c36f3a62-e999-4b64-a42d-e833b58051e6        0.0       0.0   1997.0
2  db58b0bb-4380-438e-a411-b850b1b9f17b        0.0       0.0   1997.0
3  84894368-5ea1-4db1-ad5b-737880aaccea        0.0       0.0   1998.0
4  13f0f9ac-cebd-49ed-926f-c9614ea96b66        0.0       0.0   1998.0

       fechafec        causa8  \
0  2011-11-07T1  Error humano
1  2011-11-07T1       Lluvias
2  2011-11-07T1    Otra causa
3  2011-11-07T1       Lluvias
4  2011-11-07T1       Lluvias

                                            descausa         evento     name0  \
0        Deforestación que desestabilizó el terreno.  Deslizamiento  Suroeste
1                         Aguas lluvias  residuales.  Deslizamiento  Suroeste
2  Alto fracturamiento de las rocas y altas pendi...  Caida de Roca  Suroeste
3                            Varios días de lluvias.  Deslizamiento  Suroeste
4                                  Intensas lluvias.  Deslizamiento  Suroeste

      name1                 lugar                     name2  muertos  heridos  \
0  Titiribí  Quebrada La Candela.                  TITIRIBI      0.0      0.0
1     Andes          Zona urbana.  ANTONIO JOSE (LA MESETA)      0.0      0.0
2  Titiribí       Vereda Sinifaná                  LIBORINA      0.0      0.0
3     Andes              C. Minas           ALTO DEL CORRAL      0.0      0.0
4     Andes           Zona Urbana  ANTONIO JOSE (LA MESETA)      0.0      0.0

   desaparece  afectados                                        di_comments  \
0         0.0        0.0  El inicio de la construcción de la carretera d...
1         0.0        0.0  El origen de los deslizamientos es una combina...
2         0.0        0.0  Se observan algunos bloques no muy estables y ...
3         0.0        0.0  El evento se produjo después de un invierno in...
4         0.0        0.0  La combinación de los factores naturales como ...

      eef007       fuentes                                        di_comments
0    GEOLOGO  CORANTIOQUIA  El inicio de la construcción de la carretera d...
1    GEOLOGO  CORANTIOQUIA  El origen de los deslizamientos es una combina...
2  VERIFICAR  CORANTIOQUIA  Se observan algunos bloques no muy estables y ...
3     CLOPAD  CORANTIOQUIA  El evento se produjo después de un invierno in...
4    GEOLOGO  CORANTIOQUIA  La combinación de los factores naturales como ...

In [ ]:
df3[df3['longitude'] == -75.3378851]

Empty DataFrame
Columns: [uu_id, longitude, latitude, fechano, fechafec, causa8, descausa, evento, name0, name1, lugar, name2, muertos, heridos, desaparece, afectados, di_comments, eef007, fuentes, di_comments]
Index: []

In [ ]:
# Seleccionar las columnas deseadas
df2 = df[['name1', 'name2', 'evento', 'lugar', 'fechano', 'muertos', 'heridos', 'desaparece', 'afectados','otros', 'fuentes', 'hay_muertos', 'fechafec', 'hay_heridos', 'causa8', 'descausa', 'uu_id', 'di_comments']]

# Aplicar la limpieza a df2
df2_clean = df2.apply(lambda col: col.dropna().reset_index(drop=True))

# Guardar el archivo limpio
df2_clean.to_csv('/content/prueba3.csv', index=False, encoding=encoding_detected, sep=';')

# Mostrar las primeras filas del dataframe limpio
print(df2_clean.head())

      name1                     name2         evento                 lugar  \
0  Titiribí                  TITIRIBI  Deslizamiento  Quebrada La Candela.
1     Andes  ANTONIO JOSE (LA MESETA)  Deslizamiento          Zona urbana.
2  Titiribí                  LIBORINA  Caida de Roca       Vereda Sinifaná
3     Andes           ALTO DEL CORRAL  Deslizamiento              C. Minas
4     Andes  ANTONIO JOSE (LA MESETA)  Deslizamiento           Zona Urbana

   fechano  muertos  heridos  desaparece  afectados              otros  \
0   1997.0      0.0      0.0         0.0        0.0  Daño en el templo
1   1997.0      0.0      0.0         0.0        0.0            Ninguna
2   1997.0      0.0      0.0         0.0        0.0            Ninguna
3   1998.0      0.0      0.0         0.0        0.0            Ninguna
4   1998.0      0.0      0.0         0.0        0.0   Centro educativo

        fuentes  hay_muertos      fechafec  hay_heridos        causa8  \
0  CORANTIOQUIA          0.0  2011-11-07T1          0.0  Error humano
1  CORANTIOQUIA          0.0  2011-11-07T1          0.0       Lluvias
2  CORANTIOQUIA          0.0  2011-11-07T1          0.0    Otra causa
3  CORANTIOQUIA          0.0  2011-11-07T1          0.0       Lluvias
4  CORANTIOQUIA          0.0  2011-11-07T1          0.0       Lluvias

                                            descausa  \
0        Deforestación que desestabilizó el terreno.
1                         Aguas lluvias  residuales.
2  Alto fracturamiento de las rocas y altas pendi...
3                            Varios días de lluvias.
4                                  Intensas lluvias.

                                  uu_id  \
0  a111d356-ae98-40cb-92e3-f2e6e8e732ea
1  c36f3a62-e999-4b64-a42d-e833b58051e6
2  db58b0bb-4380-438e-a411-b850b1b9f17b
3  84894368-5ea1-4db1-ad5b-737880aaccea
4  13f0f9ac-cebd-49ed-926f-c9614ea96b66

                                         di_comments
0  El inicio de la construcción de la carretera d...
1  El origen de los deslizamientos es una combina...
2  Se observan algunos bloques no muy estables y ...
3  El evento se produjo después de un invierno in...
4  La combinación de los factores naturales como ...

In [ ]:
columns_to_count = ['uu_id', 'di_comments', 'clave_ext', 'eef001', 'eef002', 'eef003',
'eef004', 'eef005', 'eef006', 'eef007']

# eef007 = source
for col in columns_to_count:
    print(f"\nConteo de valores en la columna '{col}':")
    print(df[col].value_counts())

Conteo de valores en la columna 'uu_id':
uu_id
722921bc-effb-4cb0-ae32-5edcf921a9f5    2
84289621-F401-4652-869E-4E3A4F747A1F    1
C2940DB4-B599-4430-895B-3AEC36540A2B    1
4BB666C3-4FAA-4E8C-BFFD-0F2D26DB6FE5    1
4A30B57C-C223-489E-824E-1D5859C904C9    1
                                       ..
f5ee9990-51fd-40dd-98be-7d928952d15b    1
56f775fe-3481-4abe-af88-1f63bc50ccab    1
98bd0e84-2f78-495a-a74a-062daaf475f1    1
eba0e334-0ba4-486c-a7cb-458888e15c22    1
9b44ec03-bbb6-4286-bad1-73e694570e08    1
Name: count, Length: 5792, dtype: int64

Conteo de valores en la columna 'di_comments':
di_comments
(DI6Author : C.P. DI6Date : )                                                                                                                                                                                                                                                                                   443
(DI6Author :  DI6Date : )                                                                                                                                                                                                                                                                                       345
(DI6Author : C.P. DI6Date : 6/04/01)                                                                                                                                                                                                                                                                             68
(DI6Author : C.P. DI6Date : 10/12/00)                                                                                                                                                                                                                                                                            33
(DI6Author : C.P. DI6Date : 8/04/01)                                                                                                                                                                                                                                                                             24
                                                                                                                                                                                                                                                                                                               ...
LOS FUERTES VIENTOS OCASIONAN LA DESTRUCCIÓN DE TECHOS EN LAS VIVIENDAS VEREDALES  EL DAPARD PRESTA ASESORÍA TÉCNICA Y APOYA CON MATERIALES PARA LA RECONSTRUCCIÓN DE LOS TECHOS POR VALOR DE $ 7 881.380 (DI6Author : JNG DI6Date : 2004-10-14)                                                                  1
oTROS BARRIOS INUNDADOS SON LAS MARÍAS  PRIMERO DE MAYO Y PERIMETRO DE LA HACIENDA EL CIELO. ADEMÁS HUBO SOCAVACIÓN DE LOS CANALES CON DERRUMBES EN SUS MÁRGENES. EL DAPARD PRESTO AYUDA HUMATIRIA CONSISTENTE EN 84 KIT DE MERCADOS  126 FRAZADAS Y 126 COLCHONETAS. (DI6Author : JNG DI6Date : 2004-10-14)      1
Se informa que el CLOPAD está operando y se solicita al DAPARD 1.500 hojas de zinc  300 bultos de cemento  50 rollos de manguera y 5.000 adobes. En espera de corroborar la información. (DI6Author : DoraElena DI6Date : 30/09/04)                                                                               1
Apoyo del DAPARD con mercados por valor de $480.000 (DI6Author : Luz Dary DI6Date : 28-10-04)                                                                                                                                                                                                                     1
El Dapard apoyo en la reconstrucción de los techos con el suministro de 540 laminas de zinc (DI6Author : BCC DI6Date : 04/09/01)                                                                                                                                                                                  1
Name: count, Length: 2698, dtype: int64

Conteo de valores en la columna 'clave_ext':
clave_ext
5591.0    1
5578.0    1
5572.0    1
5568.0    1
5573.0    1
         ..
7.0       1
6.0       1
5.0       1
4.0       1
3.0       1
Name: count, Length: 5793, dtype: int64

Conteo de valores en la columna 'eef001':
eef001
0.0        5770
2.0           2
9.0           1
75000.0       1
200.0         1
700.0         1
590.0         1
1100.0        1
100.0         1
1551.0        1
5000.0        1
65.0          1
250.0         1
50.0          1
170.0         1
360.0         1
1.0           1
656.0         1
5.0           1
7.0           1
324.0         1
6000.0        1
1200.0        1
Name: count, dtype: int64

Conteo de valores en la columna 'eef002':
eef002
ARCHIVO             268
MACANO               87
INGENIERO            18
PADRINO               6
ARQUITECTO            5
P                     5
GEOLOGO               4
OPERATIVO             3
MAURICIO              2
GEOLOGIA              2
NO                    2
ING M.O.              1
JUANA                 1
MA                    1
DIRECTOR              1
O BUILES              1
DAVID B               1
COMITÉ                1
ARQ D.V.              1
ARCHVO                1
GEO J.O.              1
C. TECNICA            1
COLOM HUM             1
C HUMANITA            1
COMUNICADORA          1
0                     1
Bomberos Ebéjico      1
Name: count, dtype: int64

Conteo de valores en la columna 'eef003':
eef003
0.0      5636
1.0        28
2.0        12
3.0        10
8.0         8
4.0         7
9.0         6
20.0        6
10.0        6
5.0         6
7.0         5
12.0        4
6.0         4
19.0        3
11.0        3
16.0        3
15.0        3
14.0        3
17.0        2
18.0        2
30.0        2
13.0        2
40.0        2
29.0        2
80.0        1
28.0        1
22.0        1
875.0       1
33.0        1
35.0        1
207.0       1
21.0        1
120.0       1
38.0        1
297.0       1
25.0        1
63.0        1
85.0        1
78.0        1
75.0        1
43.0        1
26.0        1
55.0        1
568.0       1
300.0       1
37.0        1
58.0        1
45.0        1
60.0        1
41.0        1
180.0       1
36.0        1
Name: count, dtype: int64

Conteo de valores en la columna 'eef004':
eef004
0.0     5743
2.0       11
1.0        9
3.0        4
5.0        3
8.0        3
17.0       2
20.0       2
7.0        2
11.0       2
4.0        2
35.0       1
6.0        1
37.0       1
10.0       1
9.0        1
19.0       1
30.0       1
39.0       1
29.0       1
15.0       1
Name: count, dtype: int64

Conteo de valores en la columna 'eef005':
eef005
0.0       5037
1.0         59
3.0         34
6.0         33
2.0         30
          ...
152.0        1
1500.0       1
1000.0       1
326.0        1
1305.0       1
Name: count, Length: 167, dtype: int64

Conteo de valores en la columna 'eef006':
eef006
0.0      5529
1.0        49
2.0        23
4.0        20
3.0        16
         ...
23.0        1
180.0       1
103.0       1
60.0        1
70.0        1
Name: count, Length: 76, dtype: int64

Conteo de valores en la columna 'eef007':
eef007
CLOPAD         392
DAPARD          34
GEOLOGO         14
INGENIERO       12
ECOPETROL       12
VERIFICAR        8
CREPAD           8
PEND             3
ARQUITECTO       2
HUMANITARIA      2
NO               2
COMISION         1
TECNICA          1
TEC              1
CORPURABA        1
CORANTIOQ        1
N                1
0                1
Name: count, dtype: int64

In [ ]:
df['fechano'].value_counts()

fechano
2010.0    364
2015.0    305
2009.0    303
2013.0    302
2011.0    295
         ...
1941.0      1
1923.0      1
1904.0      1
1991.0      1
1901.0      1
Name: count, Length: 104, dtype: int64

In [ ]:
df['fechafec'].value_counts()

fechafec
2011-11-07T1    2894
2012-03-24T1     958
2017-07-31T1      50
2017-04-14T0      44
2017-04-13T2      40
                ...
2020-04-28T0       1
2020-06-05T0       1
2020-04-21T0       1
2020-04-20T2       1
2020-02-20T0       1
Name: count, Length: 252, dtype: int64

In [ ]:
columnas = df.columns.tolist()
print(columnas)

['revision', 'build', 'slanguage', 'serial', 'nombre', 'nombre_en', 'descripcion', 'parent', 'terminal', 'hlevel', 'causa', 'causa_en', 'nivel', 'descripcion2', 'descripcion_en', 'longitud', 'lev0_cod', 'lev0_name', 'lev0_name_en', 'lev1_cod', 'lev1_name', 'lev1_name_en', 'lev1_lev0', 'lev2_cod', 'lev2_name', 'lev2_name_en', 'lev2_lev1', 'codregion', 'nombre3', 'nombre_en4', 'x', 'y', 'angulo', 'xmin_', 'ymin', 'xmax_', 'ymax', 'xtext', 'ytext', 'nivel5', 'ap_lista', 'lev0_cod6', 'extensiontabs', 'orden', 'nombre_campo', 'descripcion_campo', 'label_campo', 'label_campo_en', 'pos_x', 'pos_y', 'lon_x', 'lon_y', 'color', 'tabnumber', 'fieldtype', 'extensioncodes', 'serial7', 'level0', 'level1', 'level2', 'name0', 'name1', 'name2', 'evento', 'lugar', 'fechano', 'fechames', 'fechadia', 'muertos', 'heridos', 'desaparece', 'afectados', 'vivdest', 'vivafec', 'otros', 'fuentes', 'valorloc', 'valorus', 'fechapor', 'fechafec', 'hay_muertos', 'hay_heridos', 'hay_deasparece', 'hay_afectados', 'hay_vivdest', 'hay_vivafec', 'hay_otros', 'socorro', 'salud', 'educacion', 'agropecuario', 'industrias', 'acueducto', 'alcantarillado', 'energia', 'comunicaciones', 'causa8', 'descausa', 'transporte', 'magnitud2', 'nhospitales', 'nescuelas', 'nhectareas', 'cabezas', 'kmvias', 'duracion', 'damnificados', 'evacuados', 'hay_damnificados', 'hay_evacuados', 'hay_reubicados', 'reubicados', 'clave', 'glide', 'defaultab', 'approved', 'latitude', 'longitude', 'uu_id', 'di_comments', 'clave_ext', 'eef001', 'eef002', 'eef003', 'eef004', 'eef005', 'eef006', 'eef007', 'eef008', 'eef009', 'eef010', 'eef011', 'eef012', 'eef013', 'eef014', 'eef015', 'eef016', 'eef017', 'eef018', 'eef019', 'eef020', 'eef021', 'eef022', 'eef023', 'eef024', 'map_level', 'filename', 'lev_code', 'lev_name', 'filetype', 'color_red', 'color_green', 'color_blue', 'line_thickness', 'line_type', 'projection_system', 'projection_type', 'projection_driver', 'projection_par0', 'projection_par1', 'projection_par2', 'projection_par3', 'projection_par4', 'projection_par5', 'projection_par6', 'projection_par7', 'projection_par8', 'projection_par9', 'info_maps', 'level_attributes', 'attribute_metadata', 'metadata_national', 'metadata_national_values', 'metadata_national_lang', 'metadata_indicator', 'metadata_indicator_lang', 'metadata_element', 'metadata_element_costs', 'metadata_element_lang', 'metadata_element_indicator']

In [ ]:
df[["_id", "location", "date", "type", "subregion", "town", "county", "site",
    "fatalities", "losses", "source", "add", "uncertainty", "created_at",
    "updated_at", "__v", "triggering_description", "triggering"]]

KeyError: "None of [Index(['_id', 'location', 'date', 'type', 'subregion', 'town', 'county',\n       'site', 'fatalities', 'losses', 'source', 'add', 'uncertainty',\n       'created_at', 'updated_at', '__v', 'triggering_description',\n       'triggering'],\n      dtype='object')] are in the [columns]"

In [ ]:
df_clean.head()

,revision,build,slanguage,serial,nombre,nombre_en,descripcion,parent,terminal,hlevel,...,attribute_metadata,metadata_national,metadata_national_values,metadata_national_lang,metadata_indicator,metadata_indicator_lang,metadata_element,metadata_element_costs,metadata_element_lang,metadata_element_indicator
0,16,0,NaN,1.0,Erupción,Erupción,"Erupción volcánica. Incluye emisión de gases, ...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,16,0,NaN,2.0,Intoxicación,Intoxicación,Exposición a sustancias dañinas,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16,0,NaN,3.0,Falla,Falla,"Falla geológica, inestabilidad natural del ter...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16,0,NaN,4.0,Accidentes,ACCIDENT,"Accidentes de transporte vehicular, férreo, aé...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16,0,NaN,5.0,Accidente Minero,ACCIDENTE_MINERO,Avenidas torrenciales con arrastre de grandes ...,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN